.card-container {
  width: 270px;
  height: 480px;
  perspective: 1600px;
  cursor: pointer;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  border: 4px solid gold;
  color: white;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card-container:hover .card {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.card-front {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(card-art.png);
  z-index: 1;
  backface-visibility: hidden;
}

.card-name, .card-power {
  font-size: 2rem;
  text-shadow: 2px 2px 2px black;
}

.card-name {
  text-align: center;
}

.card-power {
  text-decoration: dotted;
}


.card-back {
  background-image: linear-gradient(black, gold);
  transform: rotateY(180deg);
}

.card-story {
  font-size: 1.5rem;
  text-shadow: 2px 2px 2px black;
}